\Lab1\Task*\obj\*
\Lab1\Task*\bin\*
\Lab1\ConsoleApplication*\obj\*
\Lab1\ConsoleApplication*\bin\*
/Lab2/Task*/obj/*
/Lab2/Task*/bin/*
/Lab3(if)/Task*/obj/*
/Lab3(if)/Task*/bin/*
/Lab6/Task*/obj/*
/Lab6/Task*/bin/*